services:
  - type: web
    name: mango-link-tracker
    env: node
    plan: free
    region: ohio
    buildCommand: npm install && pip install requests
    startCommand: node server.js
    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        sync: false
      - key: PORT
        value: 10000
